@import "mixin";

@font-face {
  font-family: Caladea;
  src: url(../fonts/Caladea.ttf);
}

html {
  font-family: Caladea, Arial, sans-serif;
}

body {
  font-size: calc(14px + 1vw);
  line-height: calc(2em + 0.5vw);
}

.header {
  text-align: center;
  margin: 3% 0 11%;

  &__logo {

    .logo__img {
      max-width: 100%;
      height: auto;

      @include mobile {
        max-width: 60%;
      }
    }

  }

  &__caption {
    margin: 0;

    .caption__img {
      max-width: 100%;
      height: auto;
    }
  }

  &__subcaption {
    margin: 0;
  }
}

.footer {
  text-align: center;

  &__header {
    margin: 0 0 2%;
  }

  &__social {

    .social__link {
      text-decoration: none;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    .social__img {
      max-width: 100%;
      height: auto;

      @include mobile {
        max-width: 10%;
      }
    }
  }
}
